<form id="filmSearch70s">
  <label>Best films of the 1970s: </label>
  <br>
  <label>1st</label>
  <input id="film70sInput1" name="film1" type="text">
  <label>2nd</label>
  <input id="film70sInput2" name="film2" type="text">
  <label>3rd</label>
  <input id="film70sInput3" name="film3" type="text">
  <input id="submit70s" type="submit">
</form>

<div id="new70sFilmsDisplay">
</div>

<ul id="stored70sFilms">
</ul>

<form id="filmSearch80s">
  <label>Best films of the 1980s: </label>
  <br>
  <label>1st</label>
  <input id="film80sInput1" name="film1" type="text">
  <label>2nd</label>
  <input id="film80sInput2" name="film2" type="text">
  <label>3rd</label>
  <input id="film80sInput3" name="film3" type="text">
  <input id="submit80s" type="submit">
</form>

<div id="new80sFilmsDisplay">
</div>

<ul id="stored80sFilms">
</ul>