<form id="filmSearch70s">
  <label>Search</label>
  <input id="film70sInput1" name="film1" type="text">
  <input id="film70sInput2" name="film2" type="text">
  <input id="film70sInput3" name="film3" type="text">
  <input type="submit">
</form>

<div id="filmDisplay">

</div>

<ul id="storedFilms">
  
</ul>