 <p><b>Welcome to FlixRating: please enter your three favourite films from each decade, starting with the 1970s</b></p>

<form id="filmSearch70s">
  <label>Best films of the 1970s: </label>
  <br>
  <label>1st</label>
  <input id="film70sInput1" name="film1" type="text">
  <label>2nd</label>
  <input id="film70sInput2" name="film2" type="text">
  <label>3rd</label>
  <input id="film70sInput3" name="film3" type="text">
  <input id="submit70s" type="submit">
  <p id="message70s"></p>
</form>

<div id="new70sFilmsDisplay">
</div>

<ul id="stored70sFilms">
</ul>

<form id="filmSearch80s">
  <label>Best films of the 1980s: </label>
  <br>
  <label>1st</label>
  <input id="film80sInput1" name="film1" type="text">
  <label>2nd</label>
  <input id="film80sInput2" name="film2" type="text">
  <label>3rd</label>
  <input id="film80sInput3" name="film3" type="text">
  <input id="submit80s" type="submit">
  <p id="message80s"></p>
</form>

<div id="new80sFilmsDisplay">
</div>

<ul id="stored80sFilms">
</ul>

<form id="filmSearch90s">
  <label>Best films of the 1990s: </label>
  <br>
  <label>1st</label>
  <input id="film90sInput1" name="film1" type="text">
  <label>2nd</label>
  <input id="film90sInput2" name="film2" type="text">
  <label>3rd</label>
  <input id="film90sInput3" name="film3" type="text">
  <input id="submit90s" type="submit">
  <p id="message90s"></p>
</form>

<div id="new90sFilmsDisplay">
</div>

<ul id="stored90sFilms">
</ul>

<form id="filmSearch00s">
  <label>Best films of the 2000s: </label>
  <br>
  <label>1st</label>
  <input id="film00sInput1" name="film1" type="text">
  <label>2nd</label>
  <input id="film00sInput2" name="film2" type="text">
  <label>3rd</label>
  <input id="film00sInput3" name="film3" type="text">
  <input id="submit00s" type="submit">
  <p id="message00s"></p>
</form>

<div id="new00sFilmsDisplay">
</div>

<ul id="stored00sFilms">
</ul>

<form id="filmSearch10s">
  <label>Best films of the 2010s: </label>
  <br>
  <label>1st</label>
  <input id="film10sInput1" name="film1" type="text">
  <label>2nd</label>
  <input id="film10sInput2" name="film2" type="text">
  <label>3rd</label>
  <input id="film10sInput3" name="film3" type="text">
  <input id="submit10s" type="submit">
  <p id="message10s"></p>
</form>

<div id="new10sFilmsDisplay">
</div>

<ul id="stored10sFilms">
</ul>

<div id="goodbyeMessage">
	<p id="thankYou"></p>
	<button id="refreshButton">OK</button>
</div>